.faturasag{
    height: 175px;
    width: 170px;
    padding: 5px;
    float: right;
    
}
.faturasol{
    height: 175px;
    float: left;
    width: 170px;
    padding: 5px;
}
.icon{
    height: 70px;
    width: 82px;
}
